@import url('{{static("modern.css")}}');

a {
    color: #700;
}

a:visited {
    color: #633;
}

a:active {
    color: #c00;
}

a:hover {
    color: #c00;
}

body {
    background: #ccc;
    padding: 0px 4em;
}

main {
    font-family: Serif, Times, Georgia, "Times New Roman";
    text-align: justify;
    background: white;
    border: solid black 1px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
    max-width: 50em;
    margin: 2em auto;
    padding: 2em;
}

hr {
    width: 50%;
    border: none;
    border-top: dashed black 1px;
    margin: 1em auto;
}

#banner h1 {
    text-align: center;
    margin: 0px;
    padding: 0px;
}

article {
    border-top: dotted black 1px;
    margin-top: 1em;
    /*padding-top: 1em;*/
}

article header {
    padding-top: 1ex;
}

#navigation {
    background: white;
}

