@import url('../style.css');

#nav .sidebar:before {
    color: black;
    font-weight: bold;
    content: "Sites I like:";
    font-size: medium;
}

img { margin: 0; padding: 0; }

.inset-left, .inset-right, .images {
    line-height: 0;
}