@import url('{{static("webmentions.css")}}');

body {
    color: black;
    background: white;
    font-family: "American Typewriter", fixed, monospace;
}

h1,
h1 a {
    color: black;
    text-decoration: none;
    text-transform: lowercase;
}

a[href] {
    font-weight: bold;
    color: black;
}

a:visited {
    color: #333;
}

a:active {
    color: #700;
}

figure {
    margin: 0;
    padding: 0;
}

header h1,
header h2 {
    text-align: center;
}

#banner {
    text-align: center;

    span {
        display: inline;

        &:not(:first-child)::before {
            content: ":: ";
        }
    }
}

#navigation {
    float: right;
    width: 15em;
    font-size: small;
    border: solid black 1px;
    padding: 1ex;
    margin: 0px 0px 1ex 1ex;
    background: white;

    ul {
        margin: 0px;
        padding: 0px;
        list-style-type: none;

        ul {
            font-weight: normal;

            li {
                padding-left: 2em;
                text-indent: -1em;
            }
        }
    }

    li {
        margin: 0px;
        padding: 0px;
    }

    h2 {
        margin: 0px 0px 0.5ex;
        padding: 0px 0px 0.5ex;
        border-bottom: solid black 1px;
        text-transform: lowercase;
    }

    a {
        font-weight: normal;
        text-decoration: none;
    }

    span {
        display: block;
        text-align: right;
        font-size: x-small;
        margin-top: 1em;
    }
}

#breadcrumb {
    text-align: left;

    li {
        display: inline;

        &:not(:first-child)::before {
            content: ".";
        }
    }
}

#subcategories {
    text-align: right;
}

#tags li::before {
    content: "-\00a0";
}

#tags li.clear,
#tags li.clear a {
    font-weight: bold;
}

#tags li.clear::before {
    content: "[*]\00a0";
    font-weight: bold;
}

#tags li.selected::before {
    content: "+\00a0";
}

#tags li.selected,
#tags li.selected a {
    font-weight: bold;
}

#tags li.top-only,
#tags li.all {
    font-style: italic;
}

main {
    max-width: 55em;
    margin: 0 auto 1ex;
}

article {
    border: black 1px;
    border-style: solid none none;

    .tags {
        font-size: x-small;
        padding-right: 1em;

        ul {
            display: inline;
            font-weight: normal;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        li {
            display: inline;

            + li::before {
                display: inline;
                content: " • ";
            }
        }

        a {
            font-weight: normal;
        }
    }

    h2 .subcat {
        font-weight: normal;
        font-size: 80%;

        &::before {
            content: "(";
        }

        &::after {
            content: ")";
        }
    }

    header {
        padding-bottom: 0.5ex;
        border-bottom: dashed black 1px;
    }
}

h2 span {
    font-size: medium;

    &::before {
        content: "(";
    }

    &::after {
        content: ")";
    }
}

h2 a.permalink {
    float: left;
    font-size: x-small;
}

p.comment {
    text-align: right;
    font-size: small;
    font-style: italic;
}

nav li {
    list-style-type: none;
}

nav.paging ul {
    margin: 1ex;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav.paging li {
    flex-grow: 1;
    margin: 0;
    padding: 0;
}

nav.paging .prev {
    text-align: left;

    &::before {
        content: "<- ";
    }
}

nav.paging .next {
    text-align: right;

    &::after {
        content: " ->";
    }
}

.hidden {
    display: none;
}
