{% if entry.cut %}
<p><a href="{{entry.link(absolute=True)}}">Show comic ({{entry.cut}})</a></p>
{% else %}
{{entry.body(
    width=960,
    scale=2,
    link=entry.link(absolute=True),
    absolute=True,
    prefix='feed_',
    img_class='u-photo'
)}}

{{entry.more(
    max_width=240,
    max_height=240,
    link=entry.link(absolute=True)~"#more",
    resize="fill",
    absolute=True,
)}}

{% for tscript in entry.attachments(entry_type='transcript') %}
<h3>Transcript</h3>
{{tscript.body(absolute=True)}}
{{tscript.more(absolute=True)}}
{% endfor %}

<p><a href="/patreon">patreon</a> • <a href="/ko-fi">ko-fi</a></p>

{% endif %}
