<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{category.name}}: {{ entry.title }}</title>

    <link rel="stylesheet" href="{{ entry.stylesheet or 'style.css' }}">
    <link rel="stylesheet" href="{{ static('lightbox/css/lightbox.min.css') }}">
    <link rel="alternate" type="application/atom+xml" title="Atom feed" href="feed" />
    <link rel="shortcut icon" href="{{ static('favicon.ico') }}" />
    <link rel="icon" type="image/png" href="{{ static('favicon.png') }}" />
    <link rel="canonical" href="{{ entry.link(absolute=True,_scheme='https') }}" />

    {% include '/_webmention.html' %}

    <link rel="up" href="{{category.link}}" />
    {% if entry.previous %}
    <link rel="prev" href="{{entry.previous.link}}" />
    {% endif %}
    {% if entry.next %}
    <link rel="next" href="{{entry.next.link}}" />
    {% endif %}

    {{ entry.card(width=32 if entry.cut else 800,height=32 if entry.cut else 800,fill_crop_x=0,fill_crop_y=0,resize="fill") }}
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="{{entry['twitter-creator'] or '@fluffy'}}" />
    {% if entry.summary %}<meta name="description" content="{{entry.summary}}" />
    {% else %}<meta name="description" content="Comic for {{entry.date.format('YYYY-MM-DD')}}" />
    {% endif %}

    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
</head>
<body id="{{ template.name }}">

{% macro miniNav(entry, alt_text, button) %}
{% if entry %}
{{
    image(button~'.png').get_img_tag(
        height=32,
        alt_text=alt_text,
        link=entry.link,
        title=entry.title(markup=False)|safe)
}}
{% else %}
{{
    image(button~'-disabled.png').get_img_tag(
        height=32,
        alt_text='')
}}
{% endif %}
{% endmacro %}

{% macro prevComic(entry,category,cat_name) %}
{{ miniNav(entry.previous(category=category,recurse=True,is_attached=False,entry_type=''), 'previous in ' ~ cat_name, '_prev_page') }}
{% endmacro %}

{% macro nextComic(entry,category,cat_name) %}
{{ miniNav(entry.next(category=category,recurse=True,is_attached=False,entry_type=''), 'next in ' ~ cat_name, '_next_page') }}
{% endmacro %}

<div id="container">
    <div id="banner">
        <h1><a href="{{entry.archive}}">busybee comics{{ ': ' ~ category.name if category.basename != 'comics' }}</a></h1>
    </div>

        <div id="support">
            <h2>Support this comic</h2>
            <ul><li><a href="/tipjar" title="Send me a tip">Tip jar</a></li>
                <li><a href="https://biz.beesbuzz.biz/" title="Buy my books">Store</a></li>
            </ul>
        </div>

    <div id="nav_series">
        <ul class="breadcrumb">
            <li>

                {{prevComic(entry,'comics','All comics')}}
                <a href="{{entry.archive(category='comics')}}">All comics</a>
                {{nextComic(entry,'comics','All comics')}}

            </li>

            {% for cat in category.breadcrumb[2:] %}
            <li>

                {{prevComic(entry,cat,cat.name)}}
                <a href="{{entry.archive(category=cat)}}">{{cat.name}}</a>
                {{nextComic(entry,cat,cat.name)}}

            </li>
            {% endfor %}
        </ul>
    </div>


    <div id="entries">

        <article class="h-entry {{ entry.entry_type or 'Comic' }}">
            <div class="heading">
                <h2 class="p-name"><a href="{{entry.link}}" class="u-url">{{entry.title}}</a></h2>
                <span class="posted"><time class="dt-published" datetime="{{entry.date.isoformat()}}">{{ entry.date.format('YYYY/MM/DD') }}</time>
                    <span class="ago">{{ entry.date.humanize() }}</span>
                </span>

                {% if entry.summary %}
                <div class="hidden p-summary">{{ entry.summary }}</div>
                {% endif %}
            </div>

            <div class="entry e-content">
                {% include '/_indieweb.html' %}

                {% if entry.body %}
                <div id="preamble">
                {% if entry.cut and not entry['Entry-Type'] %}<details><summary class="p-content-warning">{{entry.cut}}</summary>{% endif %}
                    {{entry.body(
                        div_class='images',
                        img_class='u-photo',
                        scale=2,
                        width=960)}}
                {% if entry.cut and not entry['Entry-Type'] %}</details>{% endif %}
                </div>
                {% endif %}

                {% if entry.more %}
                <div id="more" class="more">
                    {{entry.more(gallery_id=entry.uuid,
                        div_class='images',
                        width=640,
                        height=640,
                        fullsize_width=3840,
                        fullsize_height=2160,
                        fullsize_quality=35)}}
                </div>
                {% endif %}

                <p class="hidden permalink">Permalink: <a rel="permalink" title="permalink" href="{{entry.link(absolute=True)}}"></a></p>
            </div>

            <a href="https://fed.brid.gy/"></a>

            <div class="author hidden">
                {% if entry.author %}
                    <a rel="author" href="{{entry['Author-URL'] or '/'}}" class="p-author h-card">{{entry.author or 'fluffy'}}</a>
                {% else %}
                    {% include '/_hcard.html' %}
                {% endif %}
            </div>

            {% for attachment in entry.attachments %}
            <section class="{{attachment.entry_type}}" id="attach-{{attachment.id}}">
            <details><summary>{{attachment.entry_type.title()}}</summary>
            <div>{{ attachment.body }}</div>
            </details></section>
            {% endfor %}
        </article>


    </div>

    <div id="comments">
        <div class="heading">
            <h2>Comments</h2>
        </div>
            <div class="webmentions" id="webmentions"></div>
        {% include '/_comment_thread.html' %}
    </div>
</div>

<script src="{{ static('lightbox/js/lightbox-plus-jquery.min.js') }}"></script>
</body></html>
