@import url('{{static("webmentions.css")}}');

html {
    background: #999;
    font-family: Times, "Times New Roman", serif;
    text-align: center;
    font-size: medium;
    margin: 0px;
    padding: 1em;
    min-height: 512px;
}

main::before {
    content: "塵";
    position: fixed;
    font-size: 500px;
    font-style: italic;
    color: rgba(0,0,0,0.1);
    top: -.7ex;
    left: -.2ex;
}

#banner {
    margin-top: 1em;
    border-bottom: solid #333 1px;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

#banner ul {
    list-style-type: none;
}

#banner ul li {
    display: inline;
}
#banner ul li::after {
    content: ' ';
}

article {
    background: rgba(255, 255, 255, 0.5);
    width: 20em;
    margin-left: auto;
    margin-right: auto;
    border: solid #ccc 1px;
    margin-bottom: 1em;
}

article header { position: relative; }

.posted {
    position: absolute;
    font-size: x-small;
    top: 0;
    right: 0;
}

.posted time { display: none; }

h1 {
    text-transform: lowercase;
}

h2 {
    text-transform: lowercase;
    margin: 0px 0px 0.2ex;
    padding: 0.2ex 0px;
    border-bottom: solid #999 1px;
    position: relative;
    background: rgba(0, 0, 0, 0.1);
}

h2 a {
    text-decoration: none;
}

h2 a:before {
    position: absolute;
    top: 0;
    left: 0;
    font-size: xx-small;
    display: block;
    content: '#';
    text-decoration: underline;
}

a {
    color: #400;
}

a:visited {
    color: #304;
}

a:hover {
    color: #500;
}

a:active {
    color: #600;
}

#banner h1 {
    margin: 0;
    padding: 0;
    font-family: "MT Chancery", Zapfino, cursive, serif;
    color: white;
}

#banner p {
    font-size: small;
    font-style: italic;
}

#navigation {
    display: none;
}

nav.paging ul {
    display: flex;
    align-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav.paging li {
    flex-grow: 1;
    margin: 0;
    padding: 0;
    z-index: 1000;
}

nav .prev {
    text-align: left;
}
nav .prev:before {
    content: "← ";
}

nav .next {
    text-align: right;
}
nav .next:after {
    content: " →";
}

#webmentions {
    margin-top: 2em;
}

.hidden { display: none; }

#webmentions ul, #webmentions li { display: inline; margin: 0; padding: 0;}
#webmentions h2, #webmentions span, #webmentions .source { display: none; }
#webmentions a { text-decoration: none; }
#webmentions img { max-height: 1.2em; }

}