{% extends '/entry.html' %}

{% block entrybody_content %}
{{entry.body(gallery_id=entry.uuid,
    div_class='images',
    width=480,
    height=480,
    resize='fill',
    fullsize_width=3840,
    fullsize_height=2160,
    fullsize_quality=35,
    heading_link_class='toc_link')}}
{% endblock %}

{% block entrymore_content %}
{{entry.more(gallery_id=entry.uuid,
    div_class='images',
    width=640,
    height=640,
    resize='fit',
    fullsize_width=3840,
    fullsize_height=2160,
    fullsize_quality=35,
    heading_link_class='toc_link')}}
{% endblock %}

