{% extends '/entry.html' %}

{% block top_hook %}
<div id="plaidlogo"></div>
{% endblock %}

{%- block banner -%}<header id="banner">
    <div class="inner">
    <h1 class="breadcrumb">
        {% for cat in category.breadcrumb[:] %}
        <span><a href="{{cat.link}}">{{cat.name}}</a></span>
        {%- endfor -%}
    </h1>

    {%- if category.description -%}
        {{category.description}}
    {%- endif -%}
    </div>
</header>{%- endblock -%}


{% block entrybody_content %}
{{entry.body(gallery_id=entry.uuid,
    max_width=750,
    max_height=750)}}
{% endblock %}

{% block entrymore_content %}
{{entry.more(gallery_id=entry.uuid,
    figure='images',
    max_width=entry.get('image-width',800)|int,
    max_height=750)}}
{% endblock %}

