{%- extends '/index.html' -%}

{% block top_hook %}
<div id="plaidlogo"></div>
{% endblock %}

{%- block banner -%}<header id="banner">
    <div class="inner">
    <h1 class="breadcrumb">
        {% for cat in category.breadcrumb[:-1] %}
        <span><a href="{{cat.link}}">{{cat.name}}</a></span>
        {% endfor %}
        <span class="here">{{category.name}}</span>
    </h1>

    {%- if category.description -%}
        {{category.description}}
    {%- endif -%}
    </div>
</header>{%- endblock -%}
