@import url('{{static("fonts/Kubasta.css")}}');
@import url('{{static("fonts/pixel-header.css")}}');
@import url('{{static("webmentions.css")}}');


html {
    background: #333;
    font-family: 'Kubasta', sans-serif;
    color: white;
}

article .tags { font-size: x-small; }
article .tags ul {display: inline; margin:0; padding:0; list-style-type: none;}
article .tags li { display: inline; margin: 0 0 0 1em; padding: 0; }
article.tags a { text-decoration: none; }
article .tags a::before { content:'['; color: white; }
article .tags a::after { content:']'; color: white;}

main {
    background: black;
    margin: 3em;
    padding: 1em;
    position: relative;
}

#banner li { list-style-type: none; }

#navigation {
    float: right;
    max-width: 12em;
    margin-left: 1em;
}

#navigation h2 {
    display: none;
}
#navigation ul {
    list-style-type: none;
    font-size: small;
    margin: 0;
    padding-left: 1ex;
}

#navigation li {
    display: inline-block;
}

#breadcrumb li.here {
    font-weight: bold;
    text-shadow: 0px 0px 4px white;
}

#breadcrumb li::before {
    content: '»\00a0';
    margin-left: 1ex;
}

#breadcrumb li:first-child:before {
    content: none;
}

#subcats {
    display: inline-block;
    list-style-type: none;
    margin: 0; padding: 0;
}


h1, h2, h3 {
    font-family: 'pixel-header', 'C64 Pro mono', '8bitoperator', 'Terminal', 'Monaco', 'Inconsolata', monospace;
    line-height: 1.6em;
}

a {
    color: #7ff;
    text-shadow: 0px 0px 2px #133, 0px 0px 4px rgba(127,255,255,0.5);
}

a:hover {
    color: #f7f;
    text-shadow: 0px 0px 2px #133, 0px 0px 4px rgba(255,127,255,0.5);
}

h1 {
    color: #f77;
    text-align: center;
    text-shadow: 0px 0px 3px #311, 0px 0px 6px rgba(255,127,127,0.5);
    text-transform: uppercase;
}

h1 a {
    color: #f77;
    text-shadow: 0px 0px 5px #311, 0px 0px 12px rgba(255,127,127,0.5);
}

h2 {
    color: #ff7;
    margin: 0;
}


h2 a {
    color: #ff7;
    display: block;
}

h2 a:hover {
    color: #f7f;
    text-shadow: 0px 0px 3px #133, 0px 0px 6px rgba(255,127,255,0.5);
}

#content {
    text-align: center;
}

article {
    display: inline-block;
    text-align: left;
    margin: 1ex;
    padding: 1ex;
    border: dotted white 4px;
    max-width: calc(552px + 1ex);
    box-sizing: border-box;
    color: white;
    text-shadow: 0px 0px 2px #333, 0px 0px 4px rgba(255,255,255,0.25);
}

article .content {
    line-height: 1em;
}

iframe {
    max-width: 100%;
}

header {
    position: relative;
}

header .posted {
    position: absolute;
    right: 0;
    bottom: 0;
    line-height: 1.5ex;
    text-align: right;
}

header .posted .time {
    display: none;
}

header .posted .ago {
    color: rgba(255,255,255,0.5);
    display: block;
    font-size: 70%;
}

@media screen and (max-width: 960px) {
    #navigation {
        float: none;
        max-width: 100%;
        text-align: center;
    }
    #navigation section {
        text-align: left;
        display: inline-block;
        margin: 1ex;
        padding: 1ex;
        border: dashed #0ff 1px;
        max-width: 33%;
    }
}

@media screen and (max-width: 700px) {
    main {
        margin: 0;
        padding: 1ex;
    }
    article {
        width: auto;
    }
}

.hidden { display: none; }
