<p id="policy">Before commenting, please read the <a href="/comment-policy">comment policy</a>.</p>

<div id="isso-thread"
    data-isso-id="{{thread_id(entry)}}"
    data-title="{{entry.title|forceescape}}"></div>
{# change this to your actual Isso instance/configuration #}
<script data-isso="//isso.example.com/"
    data-isso-reply-to-self="true"
    data-isso-reply-notifications="true"
    data-isso-gravatar="true"
    data-isso-vote="true"
    data-isso-avatar="false"
    data-isso-gravatar="true"
    src="//isso.example.com/js/embed.min.js"></script>
<noscript>Please enable JavaScript to view this page's comments.</noscript>
<p id="avatars">Avatars provided via <a href="http://libravatar.com/">Libravatar</a></p>
