{% macro render_pings(entry,show_title=True) %}
{#- Support the common webmention ping types by setting appropriate entry headers, like:

    Like-Of: http://example.com/foo
    Repost-Of: http://example.com/bar

-#}
{%- for type, label, slug in (('like-of', '❤️', 'Liked'),
                 ('in-reply-to', '💬', 'Replied'),
                 ('repost-of', '🔄', 'Reposted'),
                 ('bookmark-of', '⭐️', 'Bookmarked'),
                 ('syndication', '', 'Syndicated'),
                 ('quote-of', '❝', 'Quoted')
                ) -%}
    {%- for note in entry.get_all(type) -%}
        {%- with url,_,title = note.partition(' ') -%}
        <a href="{{url}}" title="{{slug}}{{': '~title if title else ''}}" class="{{'hidden' if not label else 'ping'}} u-{{type}}">{% if label %}{{label}}{{' ' ~ (title or entry.title|safe) if show_title else ''}}{% endif %}</a>
        {%- endwith -%}
    {%- endfor -%}
{%- endfor -%}

{#- support RSVP webmentions with a header like:

    RSVP: http://example.com/ yes

-#}
{%- for rsvp in entry.get_all('rsvp') -%}
    {%- with url,value = rsvp.split() -%}
    {%- if show_title -%}
        <a class="ping u-in-reply-to rsvp-{{value}}" href="{{url}}">📅 RSVP: <data class="p-rsvp">{{value}}</data></a>
    {%- else -%}
        {%- for rsvp in entry.get_all('rsvp') -%}
            {%- with url,value = rsvp.split() -%}
                <a class="u-in-reply-to" href="{{url}}" title="RSVP: {{entry.title}} {{value}}">📅<data class="rsvp rsvp-{{value}} p-rsvp" value="{{value}}">{{
                    {'yes':'✅','no':'❌','interested':'💡','maybe':'💭'}[value]
                }}</data></a>
            {%- endwith -%}
        {%- endfor -%}


    {%- endif -%}

    {%- endwith -%}
{%- endfor -%}


{#- support other mention types with a header like:

    Ping: http://example.com/ category

    Unfortunately 'Category:' means something else in Publ so it can't
    be made a standard ping type.
-#}
{% if entry.ping %}
<ul class="hidden">
{%- for ping in entry.get_all('ping') -%}
    {%- with link, class = ping.split() -%}
        <li><a href="{{link}}" class="u-{{class}}">{{class}}</a></li>
    {%- endwith -%}
{%- endfor -%}
</ul>
{% endif %}

{% endmacro %}

{% macro render_links(entry) %}
{#- Render the plaintext link(s) for an entry's preamble -#}
{%- for type, slug in (('like-of', 'Like'),
    ('in-reply-to', 'In reply to'),
    ('repost-of', 'Reposted'),
    ('quote-of', 'Quoted'),
    ('bookmark-of', 'Bookmarked'),
    ) -%}
    {%- for note in entry.get_all(type) -%}
        {%- with url,_,title = note.partition(' ') -%}
        <p class="reference">{{slug}}: <a href="{{url}}">{{title or entry.title or "(no title given)"}}</a></p>
        {%- endwith -%}
    {%- endfor -%}
{%- endfor -%}
{% endmacro %}