<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>busybee</title>

    {% set content = view(entry_type_not='sidebar',count=20) %}
    <link rel="stylesheet" href="index.css" />
    <link rel="alternate" type="application/atom+xml" title="Atom feed" href="feed" />
    <link rel="shortcut icon" href="{{ static('favicon.ico') }}" />
    <link rel="icon" type="image/png" href="{{ static('favicon.png') }}" />

    <link rel="openid.server" href="https://id.beesbuzz.biz/" />
    <link rel="authorization_endpoint" href="https://auth.beesbuzz.biz/" />

    {% include '/_webmention.html' %}
</head>
<body id="{{ template.name }}">

    <h1><span>busy</span>bee</h1>

    <div id="links">
        {%- for entry in view(entry_type='sidebar',order='oldest',tag=None).entries -%}
        <a href="{{entry.link}}" {% if entry['link-rel'] %}rel="{{entry['link-rel']}}"{% endif %}
            title="{{entry.title}}" class="{{entry.icon or entry.title.lower()}}"><span>{{entry.title}}</span></a>
        {% endfor -%}
    </div>

    <div id="content">
    <ul id="categories">
        {% for cat in category.subcats %}
        <li class="{{cat.basename}}"><a href="{{cat.link}}"><span>{{cat['sort-name'] or cat.name}}</span></a></li>
        {% endfor %}

        <li class="store"><a href="https://biz.beesbuzz.biz" title="Buy my stuff!"><span>Store</span></a></li>
    </ul>

    <div id="entries">
        <h2>Latest things
            {%- if view.tags %} <span>(tagged {{view.tags|join(', ')}})</span>{%endif%}</h2>
        <ul>
            {% for entry in view(recurse=True,order='newest',count=5,entry_type_not='sidebar').entries %}
            <li><a href="{{entry.category.link}}">{{entry.category.name}}</a>: <a href="{{entry.link}}">{{ entry.title }}</a> <span class="posted">({{entry.date.humanize()}})</span></li>
            {% endfor %}
        </ul>

        <ul id="siteinfo">
            <li><a href="/about">About/contact</a></li>
            <li><a href="/legal">Legal/privacy</a></li>
            <li><a href="/sitemap">Site map</a></li>
        </ul>
    </div>
    </div>

{% include '/_hcard.html' %}

<div id="webring">
      <a href="https://xn--sr8hvo.ws/%F0%9F%86%91%E2%9D%87%EF%B8%8F*%E2%83%A3/previous">←</a>
  <span>🕸💍</span>
  <a href="https://xn--sr8hvo.ws/%F0%9F%86%91%E2%9D%87%EF%B8%8F*%E2%83%A3/next">→</a>
</div>

</body></html>
