<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{category.name}}: {{ entry.title(markup=False) }}</title>

    <link rel="stylesheet" href="{{ entry.stylesheet or 'style.css' }}">
    <link rel="stylesheet" href="{{ static('lightbox/css/lightbox.min.css') }}">
    <link rel="alternate" type="application/atom+xml" title="Atom feed" href="feed" />
    <link rel="shortcut icon" href="{{ static('favicon.ico') }}" />
    <link rel="icon" type="image/png" href="{{ static('favicon.png') }}" />

    {% include '/_webmention.html' %}

    <link rel="up" href="{{category.link}}" />
    {% if entry.previous %}
    <link rel="previous" href="{{entry.previous.link}}" />
    {% endif %}
    {% if entry.next %}
    <link rel="next" href="{{entry.next.link}}" />
    {% endif %}

    {% block scripthooks %}
    {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML" async></script>

    {{ entry.card(width=800,height=800) }}
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@fluffy" />

<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#000"
    },
    "button": {
      "background": "#f1d600"
    }
  },
  "theme": "edgeless",
  "position": "bottom-left",
  "content": {
    "message": "This website uses cookies to remember if you've clicked this button.",
    "dismiss": "I clicked it",
    "link": "Tell me more",
    "href": "/privacy"
  }
})});
</script>

</head>
<body id="{{ template.name }}">

<div id="container">
    <div class="top-hook"></div>

    <div id="banner">
        <div class="top-hook"></div>
        <h1><a href="{{category.link}}">{{category.name}}</a></h1>
    </div>

    <div id="entries">
        <div class="top-hook"></div>

        {% set prev = entry.previous(entry_type_not='sidebar') %}
        {% set next = entry.next(entry_type_not='sidebar') %}
        {% if prev or next %}
        <div class="nav topnav">
            <div>
                <span class="prev">
                    {% if prev %}
                    <a href="{{prev.link}}">{{prev.title}}</a>
                    {% endif %}
                </span>

                &nbsp;

                <span class="next">
                    {% if next %}
                    <a href="{{next.link}}">{{next.title}}</a>
                    {% endif %}
                </span>
            </div>
        </div>
        {% endif %}

        <article class="h-entry entry">
            <header class="heading">
                {% block heading %}
                <div class="top-hook"></div>
                <h2 class="p-name"><a href="{{entry.link}}" class="u-url">{{entry.title}}</a></h2>
                <div class="posted"><time class="dt-published" datetime="{{entry.date.isoformat()}}">
                    <span class="date">{{entry.date.format('YYYY/MM/DD')}}</span>
                    <span class="time">{{entry.date.format('h:mm A')}}</span>
                    <span class="ago">{{entry.date.humanize()}}</span></time>
                    <span class="author{{entry.author and '' or ' hidden'}}">
                    {%- if entry.author -%}
                    by <a rel="author" href="{{entry.authorURL or '/'}}" class="p-author h-card">{{entry.author or 'fluffy'}}</a>
                    {%- else -%}
                        {%- include '/_hcard.html' -%}
                    {%- endif -%}

                    {%- for type in ('like-of', 'in-reply-to', 'repost-of', 'bookmark-of', 'mention-of', 'rsvp') -%}
                        {%- for link in entry.get_all(type) -%}
                            <a href="{{link}}" class="u-{{type}}"></a>
                        {%- endfor -%}
                    {%- endfor -%}
                    <a href="https://fed.brid.gy/"></a>

                    </span>
                    {% if entry.summary %}
                    <span class="hidden p-summary">{{ entry.summary }}</span>
                    {% endif %}
                </div>
                {% endblock %}
            </header>

            {% block entrytags %}
                {% if entry.tags %}
                <nav class="tags">
                <ul class="tags">Tags:
                    {% for tag in entry.tags %}
                    <li><a rel="tag" href="{{entry.archive(tag=tag)}}">{{tag}}</a></li>
                    {% endfor %}
                </ul></nav>
                {% endif %}
            {% endblock %}

            <section class="content e-content">
                {% block entrybody %}
                {% if entry.body %}
                <div id="preamble" class="body">
                    {{entry.body(gallery_id=entry.uuid,
                        div_class='images',
                        width=960,
                        height=640,
                        fullsize_width=3840,
                        fullsize_height=2160,
                        fullsize_quality=35)}}
                </div>
                {% endif %}
                {% endblock %}

                {% block entrymore %}
                {% if entry.more %}
                <div id="more">
                    {{entry.more(gallery_id=entry.uuid,
                        div_class='images',
                        width=360,
                        height=360,
                        fullsize_width=3840,
                        fullsize_height=2160,
                        fullsize_quality=35)}}
                </div>
                {% endif %}
                {% endblock %}
            </section>

            {% block webmentions %}
            <section class="webmentions" id="webmentions"></section>
            {% endblock %}

            {% block comments %}
            <section class="comments" id="comments">
                <div class="heading">
                    <h2>Comments</h2>
                </div>

                {% include '/_comment_thread.html' %}
            </section>
            {% endblock %}
        </article>


    </div>

</div>

<script src="{{ static('lightbox/js/lightbox-plus-jquery.min.js') }}"></script>
</body></html>
