{%- set view = view(entry_type=['','sticky'],is_attached=False,tag_filter='ALL') -%}
{%- from get_template('_view_config', category) import view with context -%}
{%- import '/_indieweb.html' as indieweb -%}

<!DOCTYPE html>
<html lang="en">
<head>

<!-- {{view.spec|safe }} -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- block title -%}<title>
        {{ category.name(markup=False) or "busybee"}}
        {%- if view.tags -%}
            , tagged {{','.join(view.tags)}}
        {%- endif -%}
        {%- if not view.is_current and view.range %} | {{ view.range }}{% endif %}
    </title>{%- endblock -%}

    {%- if view.tags -%}
    <meta name="robots" content="noindex, nofollow">
    {% endif %}

    {%- block metatags -%}
        {%- if category.description -%}
            <meta name="description" content="{{category.description(markup=False)}}">
        {%- endif -%}
    {%- endblock -%}

    {%- block favicon -%}
        {%- include get_template('_favicon.html', category) -%}
    {%- endblock -%}

    {%- block stylesheet -%}
    <link rel="stylesheet" href="{{category.link(template='style.css')}}">
    {%- endblock -%}

    <link rel="stylesheet" href="{{ static('lightbox/css/lightbox.min.css') }}">
    <link rel="alternate" type="application/atom+xml" title="Atom feed (full content)" href="{{view.link(template='feed')}}">
    <link rel="alternate" type="application/atom+xml" title="Atom feed (summary)" href="{{view.link(template='feed-summary')}}">
    <link rel="alternate" type="text/mf2+html" title="mf2 feed (full content)" href="{{view.link(template='everything')}}">
    <link rel="canonical" href="{{view.link(template=template,absolute=True,_scheme='https',tag=None)}}">

    {% if view.has_unauthorized and not user %}
    {# provide an authorization link for feed reader discovery purposes #}
    <link href="{{ login(category.link(template='profile')) }}" rel="authorization">
    {% endif %}

    {%- block webmention -%}
        {%- include '/_webmention.html' -%}
    {%- endblock -%}

    {%- if category.parent -%}
        <link rel="up" href="{{category.parent.link(template=template)}}">
    {%- endif -%}
    {%- if view.previous -%}
        <link rel="previous" href="{{view.previous.link(template=template)}}">
    {%- endif -%}
    {%- if view.next -%}
        <link rel="next" href="{{view.next.link(template=template)}}">
    {%- endif -%}

    {%- block scripthooks -%}
        {%- if view.entries|selectattr('math')|first -%}
        <script defer src="{{static('katex/katex.min.js')}}"></script>
        <script defer src="{{static('katex/contrib/auto-render.min.js')}}"
            onload="renderMathInElement(document.body);"></script>
        <link rel="stylesheet" href="{{static('katex/katex.min.css')}}">
        {%- endif -%}
    {%- endblock -%}

    <meta property="og:title" content="{{category.name}}">
    {% if category.description %}
    <meta property="og:description" content="{{category.description(markup=False)}}">
    {% endif %}
    <meta property="og:site_name" content="busybee">
    <meta property="og:type" content="webpage">
    <meta property="og:profile:first_name" content="fluffy">
    <meta property="fediverse:creator" content="@fluffy@plush.city" />
</head>

<body id="{{ template.name }}">

{%- block top_hook -%}
{%- endblock -%}

<main>
    {%- block banner -%}<header id="banner">
        <h1 class="breadcrumb">
            {% for cat in category.breadcrumb[:-1] %}
            <span><a href="{{cat.link}}">{{cat.name}}</a></span>
            {% endfor %}
            <span class="here">{{category.name}}</span>
        </h1>

        {%- if category.description -%}
            {{category.description}}
        {%- endif -%}
    </header>{%- endblock -%}

    {%- block content_topnav scoped -%}
    {%- if view.older or view.newer -%}<nav class="paging top">
        <ul>
        {%- if view.older -%}
            <li class="prev"><a href="{{view.older.link(template=template)}}">{{ view.spec.date and view.older.range(month='MMMM YYYY',year='YYYY') or "Older" }}</a></li>
        {%- endif -%}
        {%- if view.newer -%}
            <li class="next"><a href="{{view.newer.link(template=template)}}">{{ view.spec.date and view.newer.range(month='MMMM YYYY',year='YYYY') or "Newer" }}</a></li>
        {%- endif -%}
        </ul>
    </nav>{%- endif -%}
    {%- endblock -%}


    {%- block navigation scoped -%}
    <nav id="navigation">
        <h2>{%- block navigation_title -%}Navigation{%- endblock -%}</h2>

        {%- block navigation_breadcrumb -%}
        {% if category.breadcrumb[:-1] -%}
        <div id="breadcrumb">
        <ul class="breadcrumb">
            {%- for cat in category.breadcrumb[:-1] -%}
            <li><a href="{{cat.link(template=template)}}" title="{{cat.description(markup=False)}}">{{cat.name}}</a></li>
            {%- endfor -%}
            <li class="here">{{category.name}}
            </li>
        </ul>
        {%- if not view.is_current -%}
        <p class="now"><a href="{{view.current.link(template=template)}}">Show latest entries</a></p>{%- endif -%}
        </div>
        {%- endif -%}
        {%- endblock -%}

        {%- block subcategories -%}
        {% if category.subcats -%}
        <div id="subcategories">
        <h3>{%- block subcategories_title -%}Subcategories{%- endblock -%}</h3>
        <ul>
            {%- block subcategories_everything -%}
            <li class="everything"><a rel="nofollow" href="{{view.link(template='everything')}}">Show everything</a></li>
            {%- endblock -%}
            {% for subcat in category.subcats %}
            {% if not subcat.hidden %}
            <li><a href="{{subcat.link(template=template)}}" title="{{subcat.description(markup=False)}}">{{subcat.name}}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
        </div>
        {%- endif -%}
        {%- endblock -%}

        {% block tag_browser scoped %}
        {%- if category.tags(recurse=view.spec.recurse) -%}
        <div id="tags">
        <h3>{%- block tags_title -%}Topic Tags{%- endblock -%}</h3>

        {% macro tag_link(view) -%}
        {{view.link(template=template,all_tags=1 if request.args.all_tags else None)}}
        {%- endmacro %}

        <ul>
        {%- if view.tags -%}
        <li class="clear"><a href="{{tag_link(view(tag=None))}}">Clear filter</a></li>
        {% endif %}

        {% set tags = category.tags(tag=view.spec.tag if view.spec.tag else None,tag_filter='ALL',recurse=view.spec.recurse)|sort(attribute='count',reverse=True) %}
        {% for name,count in (tags if request.args.all_tags else tags[:10+view.tags|length]) %}
        {%- if count > 1 and (request.args.all_tags or loop.index < 10 or name in view.tags) -%}
        <li class="{{name in view.tags and 'selected' or ''}}"><a rel="nofollow" href="{{tag_link(view.tag_toggle(name))}}">{{name}}</a> ({{count}})</li>
        {%- endif -%}
        {% endfor %}

        {% if request.args.all_tags %}
        <li class="top-only"><a rel="nofollow" href="{{view.link(template=template)}}">Top tags only</a></li>
        {% elif tags|length > 10 %}
        <li class="all"><a rel="nofollow" href="{{view.link(template=template,all_tags=1)}}">Show all tags</a></li>
        {% endif %}
        </ul>
        </div>
        {% endif %}
        {% endblock %}

        {%- block sidebar -%}
        {%- set sidebar = get_view(category=category,entry_type='sidebar',order='title') -%}
        {%- if sidebar.entries -%}
        <div id="sidebar">
        <h3>{%- block sidebar_title -%}{{category.get('sidebar-title','Sidebar')}}{%- endblock -%}</h3>
        <ul>
            {%- for entry in sidebar.entries -%}
            <li><a href="{{entry.link}}" title="{{entry.summary(markup=False)}}">{{entry.title}}</a></li>
            {%- endfor -%}
        </ul>
        </div>
        {%- endif -%}
        {%- endblock -%}

        {% block search_form %}
        {%- if search -%}
        <form id="search" method="GET" action="search">
            <input type="text" name="q" value="{{request.args.q}}" placeholder="Search text">
            <input type="submit" value="Search">
        </form>
        {%- endif -%}
        {% endblock %}


    </nav>{%- endblock -%}

    {%- block content scoped -%}
    <div id="content" class="h-feed">
        {%- block userinfo scoped -%}
            {%- if user -%}
                <aside id="userinfo" class="hello">Hello, <a href="{{view.link(template='profile',t=template if template.name != 'index' else None)}}">{{user.name}}</a>. <a class="logout" href="{{logout}}">sign out</a></aside>
            {% elif view.has_unauthorized %}
                <aside id="userinfo" class="unauthorized">There is additional content you may be able to see if you <a href="{{login}}" rel="nofollow">log in</a>.</aside>
            {%- endif -%}
        {%- endblock -%}

        {%- block entries -%}
        {% if view.is_current and not view.spec.recurse %}
        {% set entries = view(entry_type='sticky').entries() + view(entry_type_not='sticky').entries() %}
        {% else %}
        {% set entries = view.entries %}
        {% endif %}
        {%- for entry in entries -%}
            {%- if entry.body or entry.more -%}
                {#- has a body, which means there's text to display -#}
                <article class="content {{entry.type}} h-entry{{' private' if entry.private else ''}}">
                    <data class="p-uid" value="{{entry.uuid}}"></data>
                    {%- block entry_heading scoped -%}<header>
                        <h2>
                            {{indieweb.render_pings(entry,False)}}
                            <a href="{{entry.link}}" class="u-url p-name">{{'🔏 ' if entry.private else ''}}{{entry.title or '(no title)'}}</a>
                            {% if entry.category != category %}
                            <a class="subcat" href="{{view.link(category=entry.category)}}">{{entry.category.name}}</a>
                            {% endif %}
                        </h2>

                        <div class="posted">
                            <time class="dt-published" datetime="{{entry.date.isoformat()}}">
                                <span class="date">{{entry.date.format('MMMM D, YYYY')}}</span>
                                <span class="time">{{entry.date.format('h:mm A')}}</span>
                                <span class="ago">({{entry.date.humanize()}})</span>
                            </time>
                            {%- if entry.author %}by
                                <span class="author">
                                    <a rel="author" href="{{entry.authorURL or '/'}}" class="p-author h-card">{{entry.author or 'fluffy'}}</a>
                                </span>
                            {%- else -%}
                                {%- include '/_hcard.html' -%}
                            {%- endif -%}

                        </div>
                    </header>{%- endblock -%}

                    {%- if entry.tags -%}{%- block entrytags scoped %}<nav class="tags">
                        <ul>{%- for tag in entry.tags -%}
                            <li><a class="p-category" rel="tag" href="{{view(tag=tag).link(template=template)}}">{{tag}}</a></li>
                        {%- endfor -%}</ul>
                    </nav>{%- endblock -%}{%- endif -%}

                    <div class="content">

                        {{indieweb.render_links(entry)}}

                        <div class="{{'e-summary' if entry.more else 'e-content'}}">{%- block summary scoped -%}
                            {%- if entry.body -%}{%- block entrybody scoped -%}
                                {{ entry.body(max_width=240,
                                    max_height=240,
                                    link=entry.link,
                                    resize="fill",
                                    prefix="index_",
                                    figure_class="thumb") }}
                            {%- endblock -%}{%- endif -%}
                        </div>{%- endblock -%}

                        {%- if entry.more -%}
                            <p class="readmore"><a class="u-continued" rel="self" href="{{ entry.link }}#more">Read more&hellip;

                            {%- if entry.get('cut') %}
                                ({{entry.get('cut')}})
                            {%- endif -%}
                            </a></p>
                        {%- endif -%}

                        {%- if entry.via %}<p class="via">(via
                            {% for via in entry.get_all('via') %}{% with url, _, label = via.partition(' ') -%}
                                <span class="via h-cite"><a class="u-url p-name" href="{{url}}">{{label}}</a></span>
                                {%- if loop.index < loop.length %}, {% endif -%}
                            {%- endwith -%}{%- endfor -%}
                        )</p>{%- endif -%}
                    </div>
                </article>
            {%- else -%}
                {# there's no body so this must be a reaction post #}
                <article class="react h-entry{{' private' if entry.private else ''}}">
                    <header>
                    <h2>
                        {{indieweb.render_pings(entry,False)}}
                        <a href="{{entry.link}}" class="u-url p-name">{{entry.title}}</a>
                    </h2>
                    </header>

                    {%- if entry.via %}
                    <p class="via hidden">(via
                        {% for via in entry.get_all('via') %}
                        {% with url, _, label = via.partition(' ') -%}
                        <span class="via h-cite"><a class="u-url p-name" href="{{url}}">{{label}}</a></span>{% if loop.index < loop.length %}, {% endif -%}
                        {%- endwith -%}
                        {%- endfor -%}
                    )</p>
                    {%- endif -%}
                </article>
            {%- endif -%}
        {%- endfor -%}{%- endblock -%}

        {%- block content_bottomnav scoped -%}
        {%- if view.older or view.newer -%}<nav class="paging bottom">
            <ul>
            {%- if view.older -%}
                <li class="prev"><a href="{{view.older.link(template=template)}}">{{ view.spec.date and view.older.range(month='MMMM YYYY',year='YYYY') or "Older" }}</a></li>
            {%- endif -%}
            {%- if view.newer -%}
                <li class="next"><a href="{{view.newer.link(template=template)}}">{{ view.spec.date and view.newer.range(month='MMMM YYYY',year='YYYY') or "Newer" }}</a></li>
            {%- endif -%}
            </ul>
        </nav>{%- endif -%}
        {%- endblock -%}
    </div>{%- endblock -%}

</main>

<script src="{{ static('lightbox/js/lightbox-plus-jquery.min.js') }}"></script>
</body></html>
