{% extends get_template('index.html', category) %}

{% block title %}
    <title>User profile{% if user %} for {{user.name}}{% endif %}</title>
    <style>
        .avatar img {
            float: right;
            max-width: 25%;
            max-width: 160px;
            height: auto;
            margin: 0 0 1ex 1em;
            border-radius: 1ex;
            z-index: 1000;
            position: relative;
        }

        #token {
            max-width: 80%;
            text-overflow: ellipsis;
            font-family: Monaco, Monospace;
        }

        details[open] {
            border: dotted black 1px;
            border-radius: 1ex;
        }
        details[open] >div {
            padding: 0 1em;
        }
        details[open] summary {
            border-top-style: none;
            border-left-style: none;
        }
    </style>

    <script>
        window.addEventListener("load", () => {
            var token = document.getElementById("token");
            token.addEventListener("focus", () => {
                token.setSelectionRange(0, token.value.length)
            });
        })

        function copyToken() {
            if (navigator.clipboard) {
                var token = document.getElementById("token");
                navigator.clipboard.writeText(token.value);
                document.getElementById("copyButton").innerHTML = "Copied";
            }
        }
    </script>
{% endblock %}

{% block navigation %}
{% endblock %}
{% block content_topnav %}
<nav class="paging top">
<ul><li class="prev"><a href="{{view.link(template=request.args.t)}}">Back to {{category.name}}</a></li></ul>
</nav>
{% endblock %}
{% block content_bottomnav %}
{% endblock %}

{% block content %}
<section id="content">
    <article>
    {% if user %}
        <header><h2>Hello, {{user.name}}!</h2></header>

        <div class="content">
            <p>You seem to be logged into this website with the identity <code>{{user.humanize}}</code>. That's great!
            {% if user.last_login %}If this isn't how you want me to know you (or if something looks outdated), try <a href="{{logout(redir=login(request.path ~ '?cb=' ~ (range(1,100000)|random)))}}">logging out and back in</a>. Don't worry, I'll wait.{% endif %}</p>

        {% if user.profile %}
            <p>When you logged in, your identity provider gave me some information about you. Here's the other stuff
            I know about you from that.</p>

            {% if user.profile.avatar %}
            <a class="avatar" data-lightbox="avatar" href="{{user.profile.avatar}}" title="{{user.name}}'s avatar"><img src="{{user.profile.avatar}}" alt="avatar" title="{{user.name}}'s avatar"></a>
            {% endif %}

            {% if user.profile.bio %}
            <p>You describe yourself as:</p>
            <blockquote cite="{{user.identity}}"><p>{{user.profile.bio}}</p></blockquote>
            {% endif %}

            {% if user.profile.email %}
            <p>Your email address is <a href="mailto:{{user.profile.email}}">{{user.profile.email}}</a>. Don't worry, I promise not to spam you! (And nobody else on the site can see this.)</p>
            {% endif %}

            {% if user.profile.pronouns %}
            <p>You describe your pronouns as: {{user.profile.pronouns}}. That's cool! I'll try to remember that.</p>
            {% endif %}

            {% if user.profile.homepage %}
            <p>Apparently you have <a href="{{user.profile.homepage}}">a website</a>.
                {% if user.profile.homepage == user.identity %}It seems to be the same as <a href="{{user.identity}}">your identity URL</a>.
                {% else %}It's different than <a href="{{user.identity}}">your identity URL</a>. Neat!</p>
                {% endif %}
            {% endif %}

            {% if user.profile.endpoints %}
            <p>You also have support for <a href="https://indieweb.org/">IndieWeb</a> interoperability! Cool!
                In particular I see the following protocols:</p>
                <ul>
                {% for key in user.profile.endpoints.keys() %}
                <li><code>{{key}}</code></li>
                {% endfor %}
            </ul>
            {% endif %}

            <p>Anyway, thanks for letting me get to know you a bit better.</p>
        {% elif not user.last_login %}
            <p>I didn't see when you last logged in, so I didn't get your user profile. That's too bad. If you <a href="{{logout(redir=login(request.path ~ '?cb=' ~ (range(1,100000)|random)))}}">log out and back in again</a> I might know a bit more. But no big deal if you don't.</p>
        {% else %}
            <p>When you logged in I didn't seem to get any additional information about you. That's fine though!</p>
        {% endif %}

        {% if user.is_admin %}
            <p>Also you're an admin of this site. Don't let the power go to your head!</p>
        {% elif 'friends' in user.groups %}
            <p>I also trust you with a bunch of my private content on <a href="/blog/">my blog</a>. Please be careful with it!</p>
        {% elif 'followers' in user.groups %}
            <p>I've also seen you around enough to give you access to some non-public content on <a href="/blog/">my blog</a>. Please handle it with care!</p>
        {% endif %}

            <details id="bearer"><summary>Bearer token</summary><div>
                <p>The following HTTP header will allow web requests to be made on your behalf without logging in:</p>

                {% set token = 'Authorization: Bearer ' ~ user.token(lifetime=86400*30) %}
                <input id="token" size="{{token|length}}" type="text" value="{{token}}" readonly>
                <button id="copyButton" onclick="copyToken()" title="Copy to clipboard">📋</button>

                <p>This token is valid <time datetime="{{arrow.get().shift(days=30).format()}}">for 30 days</time>. Please do not share this with anyone else.</p>

            </div></details>

            {% if user.profile and user.profile.endpoints and user.profile.endpoints.ticket_endpoint %}
                <p>It also looks like you support <a href="https://indieweb.org/IndieAuth_Ticket_Auth">Ticket Auth</a>! Cool! Maybe you could try <a href="{{token_endpoint}}?me={{user.identity}}">sending a ticket request</a>.</p>
            {% else %}
                <p>Also, if you support <a href="https://indieweb.org/IndieAuth_Ticket_Auth">Ticket Auth</a>, you can try <a href="{{token_endpoint}}?me={{user.identity}}">sending a ticket request</a>.</p>
            {% endif %}

        </div>

    {% else %}

   <header><h2>Hello, friend!</h2></header>

   <div class="content">
    <p>You don't seem to be logged in right now. If you like, you can <a href="{{login}}">log in</a> and then I'll know a bit more about you, and you'll get access to more things. But it's up to you. No pressure either way!</p>

    <p>If you support <a href="https://indieweb.org/IndieAuth_Ticket_Auth">Ticket Auth</a>, you can try sending a ticket request with the following form:</p>

    <form method="POST" action="{{token_endpoint}}"><input type="url" name="me" placeholder="Profile URL" size=50><input type="submit" value="Go!"></form>
    </div>
    {% endif %}
    </article>
</section>
{% endblock %}