{% extends '/index.html' %}

{% block title %}
<title>Site map for {{category.name(markup=False)}}</title>
{% endblock %}

{% block banner %}
<header id="banner"><h1>Site map for {{category.name}}</h1></header>
{% endblock %}

{% block scripthooks %}
{{super()}}
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>
{% endblock %}

{% block navigation %}
{% endblock %}

{% block content %}
<section id="content">
    <article>
        <header>
            <h2><a href="{{category.link}}">{{category.name}}</a></h2>
        </header>

        <div class="content">
            {{category.description}}

            {% if category.parent %}
            <h3>Parent categories</h3>
            <ul>
                {% for cat in category.breadcrumb[:-1] %}
                <li><a href="{{cat.link}}">{{cat.name}}</a>
                    {{cat.description}}
                </li>
                {% endfor %}
            </ul>
            {% endif %}

            {% if category.subcats %}
            <h3>Subcategories</h3>

            <ul class="subcats">
                {% for subcat in category.subcats recursive %}
                <li><a href="{{subcat.link}}">{{ subcat.name }}</a>{% if subcat.description %}:
                    {{ subcat.description|first_paragraph(True) }}{% endif %}
                    {% if subcat.subcats %}
                    <ul>{{ loop(subcat.subcats)}}</ul>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>


    </article>
</section>
{% endblock %}
