@import url('{{static("modern.css")}}');

html {
    background: #ddd;
}

main {
    background: white;
}

#banner {
    background: #ddd;
}

#navigation {
    background: white;
}

article header,
article.react {
    background: #eee;
}

a {
    color: #007;
}

a:visited {
    color: #306;
}

a:hover, a:active {
    color: #75c;
}

article.private header,
#entry article.private header {
    background-color: #edf;
}

nav .private {
    border-radius: 1ex;
    background-color: #edf;
    border: dotted black 1px;
    padding: 0 .5ex;
}
