@import url('../style.css');

#index article,
#everything article {
    display: inline-block;
    border: dotted black 1px;
    margin: 1ex;
    border-radius: 1em;
    overflow: hidden;
}

#index article .content,
#everything article .content {
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
    padding: 0;
}

#index .readmore,
#everything .readmore {
    margin: 0;
    padding: 0;
    float: none;
    text-align: right;
}

#index .posted,
#everything .posted {
    display: none;
}

#index article .tags,
#everything article .tags {
    display: none;
}